{% extends 'base.html.twig' %}

{% block title %}New ActiviteHabitat{% endblock %}

{% block body %}
    <h1>Create new ActiviteHabitat</h1>

    {{ include('activite_habitat/_form.html.twig') }}

    <a href="{{ path('activite_habitat_index', {'id': habitat.id}) }}">back to list</a>
{% endblock %}
