<div class="col-12 text-dark bg-light dashboard">
    <div class="photo mr-3">
        <img class="avatar" src="{{asset(profil.url)}}" alt="Generic placeholder image">
        <div class="photo-infos">
                <h4 class="ml-5">{{profil.nom}} {{profil.prenom}}</h4>
                <h5>{{profil.email}}</h5>
        </div>
    </div>

    <div class="ml-5 col-12">

            <div class="row justify-content-center">
                <div class="col-2 mt-4">
                    <h5>Mes Locations</h5>
                    <span>0</span>
                </div>
                <div class="col-3 mt-4">
                    <h5>Dernière Location</h5>
                    <span>31 Décembre 2020</span>
                </div>
                <div class="col-3 mt-4">
                    <h5>Réservations en attente</h5>
                    <span>0</span>
                </div>
                <div class="col-3 mt-4">
                    <h5>Réservations validés</h5>
                    <span>0</span>
                </div>
            </div>


            
     </div>

</div>