{% extends 'base.html.twig' %}

{% block title %}New PriseDeVue{% endblock %}

{% block body %}
    <h1>Create new PriseDeVue</h1>

    {{ include('prise_de_vue/_form.html.twig') }}

    <a href="{{ path('prise_de_vue_index') }}">back to list</a>
{% endblock %}
