

<section class="section-content padding-y bg">
    

    <div class="container">
    
    <!-- ============================ COMPONENT 1 ================================= -->
<!-- ============================ COMPONENT SIGNUP ================================= -->
    {{ form_start(formComment) }}
    {{ form_widget(formComment) }}
    <button class="btn">{{ button_label|default('Poster') }}</button>
    {{ form_end(formComment) }}
</div>
    <!-- ============================ COMPONENT 1 END .// ================================= -->
